@model IEnumerable<Projeto_cnpj.Models.historico1>

@{
    ViewBag.Title = "Historico";
}

<h2>Historico</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            <i>Data da consulta</i>
        </th>
        <th>
            <i>Nome</i>
        </th>
        <th>
            CNPJ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_consulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
